.card-deck{
    background: #060b26;
    background: #ffb224;
    padding: 1em;
    width: available;
}
.card-icon img{
    /*position:absolute;*/
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
.card-icon{
    height:0px;
    width:100%;
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
    height: fit-content;
}

.div0{
    width: 100%;
}

.card0{
    text-align: center;
}
