.dashButtonDiv{
    width: 100%;
    align-items: center;
    padding: 10em;
}
.buttonDash{
    padding: 1em;
    border-radius: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border: 0;
    background: #ffb224;
    margin-left: 50%;
    transform: translateX(-50%);
}
.buttonDash:hover{
    background-color: #060b26;
}