.page-footer{
    background-color: whitesmoke;
    color: black;
    padding-top: 1em;
}
.mb-4 hr{
    border-color: white;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
