.card-deck{
    background: #ffb224;
    padding: 2em;
}
.card-icon img{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
.card-icon{
    height:0px;
    width:100%;
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
    height: fit-content;
}

.imgList{
    height: 200px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
}
.mt-0{
    font-weight: bold;
    font-size: larger;
}
.btn-list{
    margin: 15px;

}
.TittleC{
    background: #060b26;
    color: white;
    height: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
.media{
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 1em;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-right: 1em;
    margin-left: 1em;
}
.sort{
    border: 1px solid black;
    margin: 1em;
    border-radius: 10px;
    padding: 0.2em 1em;
    display: flex;
    justify-content: space-between;
}
.sort-drop{
    font-family: "Open Sans", sans-serif;
    background: white;
    border: white;
}
.sort button{
    padding: 0.3em;
    border-radius: 10px;
    background: #ffb224;
    color: whitesmoke;
}
.sort button:hover{
    background: #060b26;
}

.noProduct{
    margin: 25px;
    text-align: center;
}
.resumen{
    height: fit-content;
    background: whitesmoke;
    padding: 0.5em 0 0 1em;
    border: black solid 1px;
    border-radius: 10px;
    margin: 1em;
}
.titu-c{
    font-weight: bold;

}
.btn-pgr{
    margin-left: 90%;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border: 0 solid transparent;
    background-color: #060b26;
    color: white;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.img-pgr{
    margin-left: 90%;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border: 0 solid transparent;
    background-color: #060b26;
    color: white;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.btn-pgr:hover{
    background-color: darkorange;
}
.lbl-q{
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
}
.inpt-q{
    padding: 5px 25px 5px 25px;
    width: 6em;
    background-color: #ffb224;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.hiddenDiv{
    visibility: hidden;
}