.inpt-p{
    padding: 2em;
    margin-top: -1em;
}
.form-c{
    padding: 3em 3em 3em 4em;
    background: #ffb224;
    border: black solid 1px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    color: black;
    font-weight: bold;
    font-size: larger;
    font-family: "Arial Black";
    border-radius: 5px;
}
.form-check-label{
    width: 80%;
}
legend{
    margin-bottom: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #060b26;
}